<!--<h1>טבלת אבידות</h1>
<table style="border:1px solid black">
<tr >
<th>lostId</th>
<th>userId</th>
<th>lostName</th>
<th>itemId</th>
<th>lostDate</th>
<th>lostLocation</th>
<th>lostStatus</th>
<th>lostDescription</th>
<th>lostModel</th>
<th>returnDate</th>
</tr>
<tr *ngFor="let lost of lsLosses">
<td>{{lost.lostId}}</td>
<td>{{lost.userId}}</td>
<td>{{lost.lostName}}</td>
<td>{{lost.itemId}}</td>
<td>{{lost.lostDate}}</td>
<td>{{lost.lostLocation}}</td>
<td>{{lost.lostStatus}}</td>
<td>{{lost.lostDescription}}</td>
<td>{{lost.lostModel}}</td>
<td>{{lost.returnDate}}</td>
</tr>
</table>-->
<!-- <h1>טבלת הגדרות מייל</h1>
<table style="border:1px solid black">
<tr >
<th>EmailSettingsId</th>
<th>userId</th>
<th>emailAboutBewRequest</th>
<th>emailFromAnotherUser</th>
<th>systemEmailAboutExistsRequest</th>
</tr>
<tr *ngFor="let es of lsEs">
<td>{{es.emailSettingsId}}</td>
<td>{{es.userId}}</td>
<td>{{es.emailAboutBewRequest}}</td>
<td>{{es.emailFromAnotherUser}}</td>
<td>{{es.systemEmailAboutExistsRequest}}</td>
</tr>
</table> -->

<h1>טבלת משתמשים</h1>
<table style="border:1px solid black">
    <tr>
        <th>userId</th>
        <th>userName</th>
        <th>userEmail</th>
        <th>userPassword</th>
        <th>isManager</th>
    </tr>
    <tr *ngFor="let user of lsUsers">
    <td>{{user.UserId}}</td>
    <td>{{user.UserName}}</td>
    <td>{{user.UserEmail}}</td>
    <td>{{user.UserPassword}}</td>
    <td>{{user.IsManager}}</td>
    </tr>
</table>