
<ul class="ul">

    <li id="nav" routerLink="myItems" routerLinkActive="active">הפריטים שלי</li>
    <li id="nav" routerLink="searchLocation" routerLinkActive="active">חיפוש ע"פי מיקום</li>
    <li id="nav"  routerLink="search" routerLinkActive="active">חיפוש</li>
    <li id="nav" routerLink="loserR" routerLinkActive="active">דרישה-מאבד</li>
    <li id="nav"  routerLink="finderR" routerLinkActive="active">דרישה-מוצא</li>
    <li id="nav" routerLink="sr" routerLinkActive="active">שמירת פריט עבור דרישה</li>
    <li id="nav" routerLink="viewItems" routerLinkActive="active">צפייה בפריטים</li>
    <li id="nav" routerLink="profile" routerLinkActive="active">פרופיל</li>
    <li id="nav" routerLink="home" routerLinkActive="active">בית</li>
    <li id="nav" class="dropdown">הרשמה 
        <sign-up class="dropdown-content"></sign-up>
    </li>
        <li id="nav" class="dropdown">התחברות 
            <sign-in class="dropdown-content"></sign-in>
        </li>
  
   
    
  
    </ul>
    
    
    
    <router-outlet></router-outlet>
